* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.navbar {
  background-color: #311721;
}
.navbar-brand {
  height: 80px;
  width: 180px;
}
.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255,255,255,1.000%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar .nav-link {
  color: #ffffff;
}
.navbar .nav-link.active {
  color: grey;
}

.boton {
  display: inline-block;
  margin: 10px;
  padding: 20px;
  text-decoration: none;
  color: white;
  background-color: #311721;
  border: 1px solid #311721;
  border-radius: 5px;
  transition: transform 0.3s;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 10px;
}
.boton:hover {
  transform: scale(1.1);
}

.sobre {
  max-width: 100%;
  background-color: #311721;
}
.sobre_banner {
  max-width: 100%;
}
.sobre__parrafo {
  text-align: center;
  color: white;
  padding: 1rem;
}

.botones {
  padding: 1rem;
  background-color: #f1e0d6;
}
.botones h2 {
  text-align: center;
}
.botones__index {
  display: block;
  padding: 1rem;
  text-align: center;
}
.botones__index a {
  margin: 0px 5px;
}

@media (min-width: 1200px) {
  .sobre {
    display: flex;
    flex-direction: column;
  }
  .sobre__parrafo {
    margin: 0 200px;
  }
  .botones {
    background-color: #f1e0d6;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .botones .carrusel {
    margin: 0 200px;
  }
  .botones__index {
    display: flex;
    padding: 30px 0;
    margin: 0 200px;
  }
  .botones__index a {
    margin: 0px 30px;
  }
}
.conceptos {
  text-align: center;
}
.conceptos article {
  padding: 1rem;
}
.conceptos article img {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.conceptos__info {
  background-color: #f1e0d6;
}
.conceptos__eco {
  background-color: #311721;
  color: white;
}
.conceptos__mili {
  background-color: #f1e0d6;
}
.conceptos__poli {
  background-color: #311721;
  color: white;
}
.conceptos__soci {
  background-color: #f1e0d6;
}

.fondo__noticias {
  align-items: center;
  background-color: #f1e0d6;
  padding-bottom: 8px;
}
.fondo__noticias h2 {
  text-align: center;
  padding-top: 1rem;
}

.noticia {
  border: 3px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.noticia__contenido {
  width: 100%;
  padding: 10px;
}
.noticia__contenido img {
  width: 100%;
  max-height: 100px;
  border-radius: 8px;
  object-fit: cover;
  padding-bottom: 1rem;
}
.noticia__contenidocontenido__titulo h3 {
  padding-bottom: 1rem;
  font-size: 1rem;
}
.noticia__contenidocontenido__titulocontenido__fecha {
  padding-bottom: 1rem;
  font-size: 1rem;
}

.suscribir {
  background-color: whitesmoke;
  padding: 20px;
}
.suscribir form {
  display: flex;
  flex-direction: column;
}
.suscribir form .suscribir__input {
  margin-bottom: 20px;
}
.suscribir form .suscribir__input p {
  font-size: 1rem;
  margin-bottom: 10px;
}
.suscribir form .suscribir__input label {
  font-weight: bold;
}
.suscribir form .suscribir__input input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.complementos {
  background-color: #f1e0d6;
  padding-bottom: 1px;
}
.complementos h2 {
  text-align: center;
  padding-top: 1rem;
}
.complementos article {
  background-color: #311721;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: white;
  padding: 20px;
  margin: 20px;
}
.complementos article img {
  max-width: 100%;
}
.complementos article h3 {
  margin-top: 15px;
  font-size: 2em;
}
.complementos article p {
  font-size: 1rem;
}

.comunidad {
  background-color: #f1e0d6;
}
.comunidad h2 {
  text-align: center;
  padding-top: 1rem;
}
.comunidad form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.comunidad form div {
  margin-bottom: 20px;
}
.comunidad form div label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.comunidad form div input,
.comunidad form div textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
}

.resenas {
  background-color: #311721;
}
.resenas h2 {
  text-align: center;
  padding-top: 1rem;
  color: white;
}
.resenas__container {
  padding: 20px;
  color: white;
}
.resenas__container article {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
}

footer {
  background-color: black;
}

.botones__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.logo-footer img {
  width: 50px;
  height: auto;
}

.botones-extras {
  text-align: center;
}

.botones-extras a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
}

.botones-extras a:hover {
  color: grey;
}

.botones-social {
  display: flex;
}

.botones-social a {
  margin-right: 10px;
  color: white;
}

.botones-social a:hover {
  color: grey;
}

.botones-social svg {
  width: 24px;
  height: 24px;
}

/*# sourceMappingURL=styles.css.map */
