.complementos {
    background-color: $fondo-claro;
    padding-bottom: 1px;

    h2 {
        text-align: center;
        padding-top: 1rem;
    }

    article {
        background-color: $fondo-negro;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        color: white;
        padding: 20px;
        margin: 20px;

        img {
            max-width: 100%;
        }

        h3 {
            margin-top: 15px;
            font-size: 2em;
        }

        p {
            font-size: 1rem;
        }
    }
}

@media (min-width:1200px) {
    .complementos {

        article {
            
            margin: 0 200px;
            margin-bottom: 50px;
        }
    }
}