.comunidad {
    background-color: $fondo-claro;

    h2 {
        text-align: center;
        padding-top: 1rem;
    }

    form {
        display: flex;
        flex-direction: column;
        padding: 20px;

        div {
            margin-bottom: 20px;

            label {
                display: block;
                font-weight: bold;
                margin-bottom: 5px;
            }

            input,
            textarea {
                width: 100%;
                padding: 10px;
                border-radius: 5px;
                border: 1px solid #ccc;
                resize: none;
            }
        }

    }
}

.resenas {
    background-color: $fondo-negro;

    h2 {
        text-align: center;
        padding-top: 1rem;
        color: white;
    }

    &__container {
        background-color: $fondo-negro;
        padding: 20px;
        color: white;

        article {
            border: 1px solid #ccc;
            border-radius: 8px;
            margin-bottom: 20px;
            padding: 15px;

            h3 {
                font-size: 1.2em;
                margin-bottom: 5px;
            }

            .resena__fecha {
                font-style: italic;
                color: #666;
                margin-bottom: 10px;
            }

            .resena__parrafo {
                line-height: 1.6;
            }
        }
    }
}

@media (min-width:1200px) {
    .comunidad {
        form {
            margin: 0 200px;
        }
    }

    .resenas {
        &__container {
            margin: 0 200px;
        }
    }
}