.conceptos {
    text-align: center;

    article {
        padding: 1rem;
        img {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }



    &__info {
        background-color: $fondo-claro;
    }

    &__eco {
        background-color: $fondo-negro;
        color: white;
    }

    &__mili {
        background-color: $fondo-claro;
    }

    &__poli {
        background-color: $fondo-negro;
        color: white;
    }

    &__soci {
        background-color: $fondo-claro;
    }
}