.conceptos {
    text-align: center;

    article {
        padding: 1rem;
        img {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }



    &__info {
        background-color: $fondo-claro;
    }

    &__eco {
        background-color: $fondo-negro;
        color: white;
    }

    &__mili {
        background-color: $fondo-claro;
    }

    &__poli {
        background-color: $fondo-negro;
        color: white;
    }

    &__soci {
        background-color: $fondo-claro;
    }
}

@media (min-width:1200px) {
    .conceptos{
        display: grid;
        grid-template-columns: repeat(2, 4fr);
        background-color: $fondo-claro;
        padding: 0 200px;
        padding-bottom: 50px;

        article {
            img {
                height: 325px;
            }
        }
        &__info {
            grid-column: span 2;
        }
    }
}