@mixin boton-base {
    display: inline-block;
    margin: 10px;
    padding: 20px;
    text-decoration: none;
    color: white;
    background-color: $color-primario;
    border: 1px solid $color-primario;
    border-radius: 5px;
    transition: transform 0.3s;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
        transform: scale(1.1); 
    }

}

.boton {
    @include boton-base;
    padding: 5px 10px;
}